<!-- views/members/create.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Agent</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Create Agent</h1>
    <form action="/api/admin/agent" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">父代理</label>
        <select class="form-control" id="isPromotionDomain" name="uid" required>
          <option value="0" selected>無</option>
          <% agents.forEach(agent => { %>
            <option value="<%= agent.id %>"><%= agent.name %></option>
          <% }); %>
        </select>
        <label for="name" class="form-label">代理名字</label>
        <input type="text" class="form-control" id="name" name="name" value="agent game demo" required>
        <label for="account" class="form-label">帳號</label>
        <input type="text" class="form-control" id="account" name="account" value="agentGameDemo"required>
        <label for="password" class="form-label">密碼</label>
        <input type="password" class="form-control" id="password" name="password" value="agentGameDemo" required>
        <label for="brand" class="form-label">品牌</label>
        <input type="text" class="form-control" id="brand" name="brand" value="Demo" required>
        <!-- <label for="desKey" class="form-label">desKey</label>
        <input type="text" class="form-control" id="desKey" name="desKey" value="agentGameDemoDesKey" required>
        <label for="md5Key" class="form-label">md5Key</label>
        <input type="text" class="form-control" id="md5Key" name="md5Key" value="agentGameDemoDesKey"required> -->
        <label for="promotionUrl" class="form-label">推廣網址</label>
        <input type="text" class="form-control" id="name" name="promotionUrl" value="domain.agentGameDemoDesKey" required>
        <label for="promoCode" class="form-label">推廣碼</label>
        <input type="text" class="form-control" id="name" name="promoCode" value="agentGameDemo" required>
        <label for="isPromotionDomain" class="form-label">是否自有網址</label>
        <select class="form-control" id="isPromotionDomain" name="isPromotionDomain" required>
          <option value="1" selected>是</option>
          <option value="2">否</option>
        </select>
        <label for="status" class="form-label">狀態</label>
        <select class="form-control" id="status" name="status" required>
          <option value="1" selected>啟用</option>
          <option value="2">關閉</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</body>
</html>