<!-- views/members/edit.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Agent</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Edit Agent</h1>
    <form action="/api/admin/agent/<%= info.id %>" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">父代理</label>
        <select class="form-control" id="isPromotionDomain" name="uid" required>
          <option value="0"  <%= info.status === 0 ? 'selected' : '' %> >無</option>
          <% agents.forEach(agent => { %>
            <option value="<%= agent.id %>" <%= agent.id === info.uid ? 'selected' : '' %>><%= agent.name %></option>
          <% }); %>
        </select>
        <label for="name" class="form-label">代理名字</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= info.name %>"  required>
        <label for="account" class="form-label">帳號</label>
        <input type="text" class="form-control" id="account" name="account" value="<%= info.account %>" disabled >
        <label for="brand" class="form-label">品牌</label>
        <input type="text" class="form-control" id="brand" name="brand" value="<%= info.brand %>" required>
        <!-- <label for="desKey" class="form-label">desKey</label>
        <input type="text" class="form-control" id="desKey" name="desKey" value="<%= info.desKey %>" required>
        <label for="md5Key" class="form-label">md5Key</label>
        <input type="text" class="form-control" id="md5Key" name="md5Key" value="<%= info.md5Key %>" required> -->
        <label for="promotionUrl" class="form-label">推廣網址</label>
        <input type="text" class="form-control" id="promotionUrl" name="promotionUrl" value="<%= info.promotionUrl %>" required>
        <label for="promoCode" class="form-label">推廣碼</label>
        <input type="text" class="form-control" id="promoCode" name="promoCode" value="<%= info.promoCode %>" disabled >
        <label for="isPromotionDomain" class="form-label">是否自有網址</label>
        <select class="form-control" id="isPromotionDomain" name="isPromotionDomain" required>
          <option value="1" <%= info.status === 1 ? 'selected' : '' %>>是</option>
          <option value="2" <%= info.status === 2 ? 'selected' : '' %>>否</option>
        </select>
        <label for="status" class="form-label">狀態</label>
        <select class="form-control" id="status" name="status" required>
          <option value="1" <%= info.status === 1 ? 'selected' : '' %>>啟用</option>
          <option value="2" <%= info.status === 2 ? 'selected' : '' %>>關閉</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
</body>
</html>
