<!-- views/agent/list.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agent List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Agent List</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">名字</th>
          <th scope="col">帳號</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        <% items.forEach(agent => { %>
          <tr>
            <td><%= agent.name %></td>
            <td><%= agent.account %></td>
            <td>
              <a href="/admin/agent/edit/<%= agent.id %>" class="btn btn-warning btn-sm">Edit</a>
              <a href="/api/admin/agent/delete/<%= agent.id %>" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <a href="/admin/agent/create" class="btn btn-primary mt-3">Create Agent</a>
  </div>
</body>
</html>
