<!-- views/members/create.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Game Vendor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Create Game Vendor</h1>
    <form action="/api/admin/gameProvider/<%= info.id %>" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">名稱</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= info.name %>" required>
        <label for="code" class="form-label">代號</label>
        <input type="text" class="form-control" id="code" name="code" value="<%= info.code %>" disabled >
        <label for="channelUrl" class="form-label">channel Url</label>
        <input type="text" class="form-control" id="channelUrl" name="channelUrl" value="<%= info.channelUrl %>" required>
        <label for="recordUrl" class="form-label">record Url</label>
        <input type="text" class="form-control" id="recordUrl" name="recordUrl" value="<%= info.recordUrl %>" required>
        <label for="logo" class="form-label">logo 路徑</label>
        <input type="text" class="form-control" id="logo" name="logo" value="<%= info.logo %>" required>
        
        <label for="status" class="form-label">狀態</label>
        <select class="form-control" id="status" name="status" required>
          <option value="1" <%= info.status === 1 ? 'selected' : '' %>>啟用</option>
          <option value="2" <%= info.status === 2 ? 'selected' : '' %>>關閉</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
</body>
</html>