<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<html>
<link href="/resource/css/style.css" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

<body>
    <div class="card signup_v4 mb-30">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">帳號登入</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="phone-login-tab" data-toggle="tab" href="#phone-login" role="tab" aria-controls="phone-login" aria-selected="true">手機登入</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                    <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase;">帳號登入</h4>
                    <form action="/api/player/signin" method="POST" onsubmit="return encryptAndSubmit();">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputName">推廣碼</label>
                                <input type="text" name="code" class="form-control" value="<%= code %>" required readonly>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="username">帳號</label>
                                <input type="text" name="username" class="form-control" placeholder="請輸入帳號" required="">
                                <a href="#" target="_blank">找回帳號</a>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="password">密碼</label>
                                <input type="password" name="password" class="form-control" placeholder="請輸入密碼" required="">
                            </div>
                            <div class="form-group col-md-12">
                                <div class="d-flex flex-wrap justify-content-between align-items-center">
                                    <div class="custom-checkbox d-block">
                                        <label class="custom-control custom-checkbox checkbox-lg">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <div class="custom-control-label" for="customCheck1">記住密碼</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 mb-3">
                            <button class="btn btn-primary full-width" type="submit">登入</button>
                        </div>
                    </form>
                    <!-- <div class="social-area">
                        <h3 class="title">Or</h3>
                        <p class="text">Sign In with social media</p>
                        <ul class="social-links">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                </div>
                <div class="tab-pane fade show " id="phone-login" role="tabpanel" aria-labelledby="phone-login-tab">
                    <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase;">手機登入</h4>
                    <form action="/api/player/phoneSignin" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="code">推廣碼</label>
                                <input type="text" name="code" class="form-control" value="<%= code %>" required readonly>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="phoneNumber">手機號碼</label>
                                <div class="input-group">
                                    <input type="text" name="phoneNumber" class="form-control" placeholder="請輸入手機號碼" required="">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button" id="sendVerificationCode">發送驗證碼</button>
                                    </div>
                                </div>
                            </div>                                
                            <div class="form-group col-md-12">
                                <label for="verifyCode">驗證碼</label>
                                <input type="verifyCode" name="verifyCode" class="form-control" placeholder="請輸入驗證碼" required="">
                            </div>
                            <div class="form-group col-md-12">
                                <div class="d-flex flex-wrap justify-content-between align-items-center">
                                    <div class="custom-checkbox d-block">
                                        <label class="custom-control custom-checkbox checkbox-lg">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <div class="custom-control-label" for="customCheck1">記住密碼</div>
                                        </label>
                                    </div>
                                    <button class="btn btn-secondary" type="button" id="forgetPassword">忘記密碼?</button>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 mb-3">
                            <button class="btn btn-primary full-width" type="submit">登入</button>
                        </div>
                    </form>
                    <!-- <div class="social-area">
                        <h3 class="title">Or</h3>
                        <p class="text">Sign In with social media</p>
                        <ul class="social-links">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                </div>
                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                    <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase;">Register</h4>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputName">Your Name</label>
                                <input type="text" class="form-control" id="inputEmail4" placeholder="Enter your name" required="">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputName">Your Username</label>
                                <input type="text" class="form-control" id="inputPassword4" placeholder="Enter your username" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputName">Your Email Address</label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Enter your email address" required="">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputName">Your Password</label>
                                <input type="password" class="form-control" id="inputPassword4" placeholder="Enter your password" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputName">Your Confirm Password</label>
                                <input type="password" class="form-control" id="inputPassword4" placeholder="Enter your confirm password" required="">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputName">Your Country</label>
                                <select id="inputState" class="form-control" required="">
                                    <option selected="">Choose Country</option>
                                    <option>India</option>
                                    <option>United States</option>
                                    <option>Canda</option>
                                    <option>Germany</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row mt-2">
                            <label class="col-md-2 col-form-label user_group">I am a</label>
                            <div class="col-md-10 pt-1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Customer</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Vendor</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Both</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-md-12">
                                <label class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <div class="custom-control-label" for="customCheck1">I agree with <a href="#" target="_blank">terms and conditions</a></div>
                                </label>
                            </div>
                        </div>
                        <hr class="mt-3 mb-4">
                        <div class="col-12">
                            <div class="d-flex flex-wrap justify-content-between align-items-center">
                                <div class="custom-checkbox d-block">
                                    <a href="https://demochecks.com/demo/fickrr/login" class="nav-link-inline font-size-sm">Already have an account? Login</a>
                                </div>
                                <button class="btn btn-primary mt-3 mt-sm-0" type="submit">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script>
    // 在這裡添加 JavaScript 代碼
    document.getElementById('sendVerificationCode').addEventListener('click', function() {
        // 取得手機號碼和驗證碼
        var phoneNumber = document.getElementsByName('phoneNumber')[0].value;
        var code = document.getElementsByName('code')[0].value;

        // 建立 URL 對象以構建請求 URL
        var url = new URL('/api/player/sendVerification', window.location.origin);

        // 使用 fetch 發送 POST 請求，將 phoneNumber 和 code 放入 body 中
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                phoneNumber: phoneNumber,
                code: code
            }),
        })
        .then(response => {
            return response.json(); // 將回應轉換為 JSON
        })
        .then(jsonResponse => {
            // 在這裡處理 JSON 數據，例如：
            alert(`[DELEVELOP]驗證碼已發送，回應： ${JSON.stringify(jsonResponse)}`);
            // 您可以根據需要使用 jsonResponse 中的數據執行其他操作
        });
    });

    // 在這裡添加 JavaScript 代碼
    document.getElementById('forgetPassword').addEventListener('click', function() {
        // 取得手機號碼和驗證碼
        var phoneNumber = document.getElementsByName('phoneNumber')[0].value;
        var code = document.getElementsByName('code')[0].value;

        // 建立 URL 對象以構建請求 URL
        var url = new URL('/api/player/forgetPassword', window.location.origin);

        // 使用 fetch 發送 POST 請求，將 phoneNumber 和 code 放入 body 中
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                phoneNumber: phoneNumber,
                code: code
            }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); // 將回應轉換為 JSON
        })
        .then(jsonResponse => {
            // 在這裡處理 JSON 數據，例如：
            alert(`[DELEVELOP]忘記密碼已發送成功，回應： ${JSON.stringify(jsonResponse)}`);
            // 您可以根據需要使用 jsonResponse 中的數據執行其他操作
        })
        .catch(error => {
            // 處理錯誤的情況
            alert(`[DELEVELOP]忘記密碼發送失敗，錯誤： ${JSON.parse(error)}`);
        });
    });

    // Function to encrypt the password using CryptoJS
    function encryptPassword(password) {
        return CryptoJS.AES.encrypt(password, 'JPCafe').toString();
    }

    // Add this function to be called when the form is submitted
    function encryptAndSubmit() {
        // Get the password input value
        var passwordInput = document.getElementsByName('password')[0];
        
        // Encrypt the password
        var encryptedPassword = encryptPassword(passwordInput.value);

        // Set the encrypted password back to the password input field
        passwordInput.value = encryptedPassword;

        // Continue with the form submission
        return true;
    }
</script>
</html>