<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<html>
<link href="/resource/css/style.css" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

<body>
    <div class="card signup_v4 mb-30">
        <div class="card-body">
            <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="login-tab" data-toggle="tab" href="#register" role="tab" aria-controls="login" aria-selected="true">帳號登入</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="phone-login-tab" data-toggle="tab" href="#phone-login" role="tab" aria-controls="phone-login" aria-selected="true">手機登入</a>
                </li>
            </ul> -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
                    <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase;">註冊</h4>
                    <form action="/api/player/register" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="code">推廣碼</label>
                                <input type="text" name="code" class="form-control" value="<%= code %>" required readonly>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="username">帳號</label>
                                <input type="text" class="form-control" name="username" placeholder="請輸入帳號" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="phoneNumber">手機號碼</label>
                            <div class="input-group form-group col-md-12"">
                                <input type="text" name="phoneNumber" class="form-control" placeholder="請輸入手機號碼" required="">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" id="sendVerificationCode">發送驗證碼</button>
                                </div>
                            </div>  
                            <div class="form-group col-md-12">
                                <label for="verifyCode">驗證碼</label>
                                <input type="text" class="form-control" name="verifyCode"  placeholder="請輸入驗證碼" required="">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="password">密碼</label>
                                <input type="password" class="form-control" name="password" placeholder="請輸入密碼" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="confirmPassword">確認密碼</label>
                                <input type="password" class="form-control" name="confirmPassword" placeholder="請輸入確認密碼" required="">
                            </div>
                            <!-- <div class="form-group col-md-12">
                                <label for="inputName">Your Country</label>
                                <select id="inputState" class="form-control" required="">
                                    <option selected="">Choose Country</option>
                                    <option>India</option>
                                    <option>United States</option>
                                    <option>Canda</option>
                                    <option>Germany</option>
                                </select>
                            </div> -->
                        </div>
                        <!-- <div class="form-group form-row mt-2">
                            <label class="col-md-2 col-form-label user_group">I am a</label>
                            <div class="col-md-10 pt-1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Customer</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Vendor</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Both</label>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group form-row">
                            <div class="col-md-12">
                                <label class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <div class="custom-control-label" for="customCheck1">我同意 <a href="#" target="_blank">服務條款</a></div>
                                </label>
                            </div>
                        </div>
                        <hr class="mt-3 mb-4">
                        <div class="col-12">
                            <div class="d-flex flex-wrap justify-content-between align-items-center">
                                <div class="custom-checkbox d-block">
                                    <a href="/signin?code=<%= code %>" class="nav-link-inline font-size-sm">已經有帳號了嗎? 登入</a>
                                </div>
                                <button class="btn btn-primary mt-3 mt-sm-0" type="submit">註冊</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script>
    // 在這裡添加 JavaScript 代碼
    document.getElementById('sendVerificationCode').addEventListener('click', function() {
        // 取得手機號碼和驗證碼
        var phoneNumber = document.getElementsByName('phoneNumber')[0].value;
        var code = document.getElementsByName('code')[0].value;

        // 建立 URL 對象以構建請求 URL
        var url = new URL('/api/player/sendVerification', window.location.origin);

        // 使用 fetch 發送 POST 請求，將 phoneNumber 和 code 放入 body 中
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                phoneNumber: phoneNumber,
                code: code
            }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); // 將回應轉換為 JSON
        })
        .then(jsonResponse => {
            // 在這裡處理 JSON 數據，例如：
            alert(`[DELEVELOP]驗證碼已發送成功，回應： ${JSON.stringify(jsonResponse)}`);
            // 您可以根據需要使用 jsonResponse 中的數據執行其他操作
        })
        .catch(error => {
            // 處理錯誤的情況
            alert(`[DELEVELOP]發送驗證碼失敗，錯誤： ${JSON.parse(error)}`);
        });
    });
</script>
</html>