<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理信息</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Link Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6p8eUJMSZ7ZS6UACsyyBohDDA4M6jMl" crossorigin="anonymous">
  </head>
  <body class="container mt-5">
    <h1>管理信息</h1>
    <p>管理名称：<%= user %></p>
  
    <!-- Bootstrap按钮样式 -->
    <button onclick="openIframe('/admin/gameProvider')" class="btn btn-primary">游戏商</button>
    <button onclick="openIframe('/admin/agent')" class="btn btn-success">代理</button>
    <button onclick="openIframe('/admin/gameProviderAgent')" class="btn btn-warning">綁定資料</button>


    <div id="iframeContainer"></div>

    <script>
      function openIframe(url) {
        var iframe = document.createElement('iframe');
        iframe.src = url;
        iframe.style.width = '100%';
        iframe.style.height = '500px'; // Set the desired height
        document.getElementById('iframeContainer').innerHTML = ''; // Clear previous iframes
        document.getElementById('iframeContainer').appendChild(iframe);
      }
    </script>
  </body>
</html>