<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agent Game List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
  <h1>遊戲清單</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">遊戲名稱</th>
        <th scope="col">遊戲URL</th>
        <th scope="col">操作</th>
      </tr>
    </thead>
    <tbody>
      <% data %>
      <% data.forEach(item => { %>
        <tr>
          <th scope="row"><%= item.gameProvider.name %></th>
          <td><%= item.gameProvider.channelUrl %></td>
          <td><a href="/agent/game/<%= item.id %>" class="btn btn-warning btn-sm">View</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

</body>
</html>
