<!-- views/members/create.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>代理遊戲</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>代理遊戲</h1>
    <form action="/api/admin/gameProvider/<%= info.id %>" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">名稱</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= info.gameProvider.name %>" disabled>

        <label for="name" class="form-label">系統設置</label>
        <input type="text" class="form-control" id="setInfo" name="setInfo" value="<%= info.setInfo %>" required>

      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
</body>
</html>