<!-- views/members/create.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>玩家</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>玩家</h1>
      <div class="mb-3">
        <label for="nickname" class="form-label">Nick Name</label>
        <input type="text" class="form-control" id="nickname" name="nickname" value="<%= info.nickname %>" disabled>

        <label for="account" class="form-label">帳號</label>
        <input type="text" class="form-control" id="account" name="account" value="<%= info.account %>" disabled>

      </div>
  </div>
</body>
</html>