<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  <div class="container mx-auto mt-4">
    <h1>Scan this QR Code in Google Authenticator</h1>
	<img src="<%- qrImage %>"/>
    <form action="/api/agent/otpSignin" method="POST">
      <div class="col-sm-3 my-1">
        <label for="code" class="form-label">KEY: <%= key %> </label>
        <input type="text" name="code" class="form-control" placeholder="Code" required autofocus>
	  </div>
	  <div class="col-sm-3 my-1">
		  <button type="submit" class="btn btn-primary">Submit</button>
	  </div>
    </form>
  </div>
</body>
</html>