<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agent Log In</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  <div class="container mx-auto mt-4">
    <h1>Agent Log In</h1>
 
    <h2> </h2>
    <form action="/api/agent/signin" method="POST">
      <div class="mb-3">
        <label for="account" class="form-label">Account</label>
        <input type="text" name="account" class="form-control" placeholder="Account" value="agentDemo" required autofocus>
      </div>
      <div class="mb-3">
        <label for="code" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" value="1qaz@WSX" required>
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </div>
</body>
</html>