<!-- views/members/create.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Agent Bind Game Vendor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Create Agent Bind Game Vendor</h1>
    <form action="/api/admin/gameProviderAgent" method="post">
      <div class="mb-3">
        <label for="agentId" class="form-label">代理</label>       
        <select class="form-control" id="agentId" name="agentId">
          <% agents.forEach(agent => { %>
              <option value="<%= agent.id %>"><%= agent.name %></option>
          <% }); %>
        </select>
        <label for="gameProviderId" class="form-label">遊戲廠商</label>       
        <select class="form-control" id="gameProviderId" name="gameProviderId">
          <% games.forEach(game => { %>
              <option value="<%= game.id %>"><%= game.name %></option>
          <% }); %>
        </select>
        <label for="setInfo" class="form-label">系統設置</label>
        <input type="text" class="form-control" id="setInfo" name="setInfo" value="setInfo" required>
        <label for="status" class="form-label">狀態</label>
        <select class="form-control" id="status" name="status" required>
          <option value="1" selected>啟用</option>
          <option value="2">關閉</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</body>
</html>