<!-- views/members/create.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Agent Bind Game Vendor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
<body>
  <div class="container">
    <h1>Edit Agent Bind Game Vendor</h1>
    <form action="/api/admin/gameProviderAgent/<%= info.id %>" method="post">
      <div class="mb-3">
        <label for="agentId" class="form-label">代理</label>       
        <select class="form-control" id="agentId" name="agentId">
          <% agents.forEach(agent => { %>
              <option value="<%= agent.id %>" <%= agent.id === info.agentId ? 'selected' : '' %>><%= agent.name %></option>
          <% }); %>
        </select>
        <label for="gameProviderId" class="form-label">遊戲廠商</label>       
        <select class="form-control" id="gameProviderId" name="gameProviderId">
          <% games.forEach(game => { %>
              <option value="<%= game.id %>" <%= game.id === info.gameProviderId ? 'selected' : '' %>><%= game.name %></option>
          <% }); %>
        </select>
        <label for="setInfo" class="form-label">系統設置</label>
        <input type="text" class="form-control" id="setInfo" name="setInfo" value="<%= info.setInfo %>" required>
        <label for="status" class="form-label">狀態</label>
        <select class="form-control" id="status" name="status" required>
          <option value="1" <%= info.status === 1 ? 'selected' : '' %>>啟用</option>
          <option value="2" <%= info.status === 2 ? 'selected' : '' %>>關閉</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
</body>
</html>
