<!-- views/gameProvider/list.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Vendor List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Game Vendor List</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">遊戲</th>
          <th scope="col">代理</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        <% items.forEach(bind => { %>
          <tr>
            <td><%= bind.gameProvider.name %></td>
            <td><%= bind.agent.name %></td>
            <td>
              <a href="/admin/gameProviderAgent/edit/<%= bind.id %>" class="btn btn-warning btn-sm">Edit</a>
              <a href="/api/admin/gameProviderAgent/delete/<%= bind.id %>" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <a href="/admin/gameProviderAgent/create" class="btn btn-primary mt-3">Create Game Vendor</a>
  </div>
</body>
</html>
